{erl_opts, [
	debug_info,
	{i, "include"}
	]}.

{subs_dir, ["deps"]}.
{lib_dirs, ["deps"]}.
{plugin_dir, ["src"]}.

{plugins, [efuse_defs]}.

{deps, []}.

{port_specs, [
	{"priv/efuse", ["c_src/efuse.c"]}
	]}.
{port_env, [
	{"CC", "gcc"},
	{"CFLAGS", "-Wall -std=gnu99 -D_FILE_OFFSET_BITS=64 -I/usr/include/fuse -shared"},
	{"LDFLAGS", ""},
	{"ERL_LDFLAGS", "-lerl_interface -lei -pthread -lnsl -lfuse -lrt -ldl"}
	]}.

{clean_files, [
	"doc/*.html",
	"doc/edoc-info",
	"doc/erlang.png",
	"doc/stylesheet.css",
	"dialyzer.log",
	"test/*.beam"
	]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

